{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
    {% if not user.is_anonymous %}
    <form  action="{% url 'home' %}" method="post" role="form">
      {% csrf_token %}
      {% for field in form.visible_fields %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
          <label for="{{ field.label }}">{{ field.label }}</label>
          {{ field }}
          {% if field.help_text %}
            <span class="help-block">{{ field.help_text|safe }}</span>
          {% endif %}
          {% for error in field.errors %}
            <label class="control-label">{{ error }}</label>
          {% endfor %}
        </div>
      {% endfor %}
      <button type="submit" class="btn  btn-primary ">发布</button>
    </form>
    {% endif %}

    {% for blog in blogs %}
    {% include 'blog/_blogs.html' with blog=blog%}
    {% endfor %}

{% endblock %}
