{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <link href="{% static 'css/todo.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
    <div style="float: right; color: blue"><span class="glyphicon glyphicon-ok
glyphicon glyphicon-"></span></div>
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">编辑</a></li>
  <li role="presentation"><a href="#">总结</a></li>
</ul>
    <div class="list-group">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</div>
{% endblock %}

{% block right %}
    <form action="{% url 'todoTask' %}" method="post" role="form">
    <div style="color: #ccc; text-align: left">
    <div style="text-align: right; float: right">
        <button type="submit" class="btn btn-success btn-sm">提交</button></div>待办</div><br>
    {% csrf_token %}
    <textarea class="form-control" id="task" name="task" rows="20" >{{ task.content }}</textarea>
    </form>
{% endblock %}
