{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
    <form class="form-signin" action="{% url 'signup' %}" method="post" role="form">
      {% csrf_token %}
    <center><h2 class="form-signin-heading">itsMe注册</h2></center>
      {% for field in form.visible_fields %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
          <label for="{{ field.label }}">{{ field.label }}</label>
          {{ field }}
          {% if field.help_text %}
            <span class="help-block">{{ field.help_text|safe }}</span>
          {% endif %}
          {% for error in field.errors %}
            <label class="control-label">{{ error }}</label>
          {% endfor %}
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-lg btn-primary btn-block">注册</button>
    </form>
{% endblock %}
{% block right %}
    <div style=" font-size: 15px">When the sharpest words wanna cut me down<br>
I'm gonna send a flood, gonna drown them out<br>
I am brave, I am bruised<br>
I am who I'm meant to be, it is me<br>
Look out 'cause here I come<br>
And I'm marching on to the beat I drum<br>
I'm not scared to be seen<br>
I make no apologies, itsMe</div>
{% endblock %}