.remove-todo {
  color: #bbbbbb;
  font-size: .5em;
  padding-top: .2em;
  float: right;
  display: none;
  cursor: pointer;
}

.remove-todo:hover {
  color: #333333;
}

.edit-todo {
  color: #bbbbbb;
  font-size: .5em;
  padding-top: .2em;
  display: none;
  cursor: pointer;
}

.edit-todo:hover {
  color: #333333;
}